/-AnomalyDetection/bin
/-AnomalyDetection/obj
/AnomalyDetectionAlgorithm/bin
/AnomalyDetectionAlgorithm/bin
/Client/bin
/Client/obj
/DataManager/bin
/DataManager/obj
/Location/bin
/Location/obj
/Parameters/bin
/Parameters/obj
/Timeseries/bin
/Timeseries/obj
/Client/Data/HistorianDatabase
/Client/Data/Output
/Client/Data/ZediAccessData
/Timeseries/bin
/Timeseries/obj
/Parameters/bin
/Parameters/obj